span {
  color: white;
  background-color: dodgerblue;
  height: 50px;
  width: 1.5em;
  font: sans-serif;
  font-size: 25px;
  border-radius: 0.25em;
  padding: 0.25 em;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
span:hover {
  background-color: blue;
}
span:active {
  background-color: darkblue;
}

.primary {
  color: white;
  background-color: dodgerblue;
  height: 40px;
  width: 1.25em;
  padding:  0.25em;
  font: sans-serif;
  font-size: 20px;
  border-radius: 0.25em;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
.primary:hover {
  background-color: blue;
}
.primary:active {
  background-color: darkblue;
}
