<div class="wrapper">

  <a href="https://vigilant-palm-tree-9jqpvv5jv592p999-3000.app.github.dev/">Table of contents</a>
  <hr>

  <!-- Present the following content in a card. -->

  <div class="card" style="width: 25rem;">
    <img src="/img/3.jpeg">
  
    <p class="card-text" style="padding: 1rem 1rem 0rem 1rem">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mercury</li>
      <li class="list-group-item list-group-item-primary">Venus</li>
      <li class="list-group-item list-group-item-secondary">Earth</li>
      <li class="list-group-item list-group-item-success">Mars</li>
      <li class="list-group-item list-group-item-danger">Jupiter</li>
      <li class="list-group-item list-group-item-warning">Saturn</li>
      <li class="list-group-item list-group-item-info">Uranus</li>
      <li class="list-group-item list-group-item-light">Neptune</li>
      <li class="list-group-item list-group-item-dark">Pluto</li>
    </ul>

  </div>
</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
