<a href="https://vigilant-palm-tree-9jqpvv5jv592p999-3000.app.github.dev/">Table of contents</a>
<hr>
<%# The below code creates an array of 10 random names %>
<%= names = Array.new(10) { Faker::Name.unique.name  } %>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
  <ul class="list-group">
    <% names.each do |name|%>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <%= "#{name}" %>%
    </div>
    <span class="badge text-bg-primary rounded-pill"><%= "#{rand(0..names.length - 1)}" %></span>
    <% end %>
  </div>
  <div class="col-md-4"></div>
