<a href="https://vigilant-palm-tree-9jqpvv5jv592p999-3000.app.github.dev/">Table of contents</a>
<hr>
<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success text-left">Full-width</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-success text-left">8</div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-warning text-left">4</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-danger text-left">3</div>
    </div>
    <div class="col-md-9">
      <div class="alert alert-secondary text-left">9</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-primary text-left">5</div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="alert alert-primary text-left">5</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="alert alert-success text-left">Centered 8</div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="alert alert-warning text-left">Centered 10</div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="alert alert-info text-left">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info text-left">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info text-left">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info text-left">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info text-left">2</div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
