
<!-- Tuck away the following content within a modal. -->
<a href="https://vigilant-palm-tree-9jqpvv5jv592p999-3000.app.github.dev/">Table of contents</a>
<hr>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lorem_ipsum">
Launch modal
</button>
<div class="modal fade" id="lorem_ipsum">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">More details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos quis voluptatibus odit aperiam modi? Dolorem, facere laboriosam nesciunt beatae quasi neque, sequi nobis esse atque recusandae aut labore ab enim.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
