<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p class="primary">
  <a>Primary</a>
</p>

<p class="secondary">
  <a>Secondary</a>
</p>

<p class="success">
  <a>Success</a>
</p>

<p class="danger">
  <a>Danger</a>
</p>

<p class="warning">
  <a>Warning</a>
</p>

<p class="info">
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p class="primary-unobtrusive">
  <a>Primary (unobtrusive)</a>
</p>

<p class="secondary-unobtrusive">
  <a>Secondary (unobtrusive)</a>
</p>

<p class="success-unobtrusive">
  <a>Success (unobtrusive)</a>
</p>

<p class="danger-unobtrusive">
  <a>Danger (unobtrusive)</a>
</p>

<p class="warning-unobtrusive">
  <a>Warning (unobtrusive)</a>
</p>

<p class="info-unobtrusive">
  <a>Info (unobtrusive)</a>
</p>
