<span>Click me!</span>

<style>
  span {
    color: white;
    background-color: dodgerblue;
    height: 50px;
    width: 1.5em;
    font: sans-serif;
    font-size: 25px;
    border-radius: 0.25em;
    padding: 0.25 em;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
  }
  span:hover {
    background-color: blue;
  }
  span:active {
    background-color: darkblue;
  }
</style>
