
<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->
<a href="https://vigilant-palm-tree-9jqpvv5jv592p999-3000.app.github.dev/">Table of contents</a>
<hr>
  <div class="d-flex justify-content-around">
    <button type="button" class="btn btn-primary">First</button>
    <button type="button" class="btn btn-success">Second</button>
    <button type="button" class="btn btn-danger">Third</button>
  </div>
<hr>
<hr>
  <div class="d-flex justify-content-between">
    <p>Inbox</p>
    <span class="badge rounded-pill text-bg-danger">42</span>
  </div>
<hr>
<div class="d-flex justify-content-start">
  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="text-sm-end">
      <div class="text-break">
        Lorem ipsum, dolor sit <br> amet consectetur <br> adipisicing elit. Vel ad <br> debitis iste minima <br> molestiae repellat magni? <br> Voluptas, odit voluptate <br> quasi esse ea iure <br> quibusdam error at <br> architecto veritatis, <br> beatae nihil?
      </div>
    </div>
  </div>
</div>
